@charset "utf-8";
$brown:#6c523d;
$black:#38281c;
$gold:#c59940;
$green:#acd211;
$yellow:#ffe400;

$icomoon:"icomoon";
$lato: 'Lato', sans-serif;
$gothic: 'Noto Sans JP', sans-serif;
$minchou: 'Noto Serif JP', serif;




@mixin cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
}
