@charset "UTF-8";
/*! ALL ***************************************************/
html {
  font-size: 62.5%;
  /* 62.5% 10px 1em */
}

body {
  color: #6c523d;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2;
  background: #fff;
  min-width: 1000px;
  -webkit-text-size-adjust: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, em {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
}

.animation {
  transform: translate(0px, 10px);
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  backface-visibility: hidden;
}

.animation.active {
  transform: translate(0%, 0%);
  opacity: 1;
}

a {
  color: #6c523d;
  text-decoration: none;
  border: 0;
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

a img {
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

#wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 740px) {
  #wrap {
    padding-top: 98px;
  }
}

@media screen and (max-width: 740px) {
  body {
    min-width: 320px;
    font-size: 1.4rem;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .pc {
    display: none !important;
  }
  .tel {
    pointer-events: auto;
  }
}

@media screen and (min-width: 741px) {
  .sp {
    display: none !important;
  }
  .tel {
    pointer-events: none;
  }
}

header {
  width: 100%;
  position: relative;
}

header #seo {
  position: absolute;
  left: 12px;
  top: 12px;
}

header #seo span {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  display: block;
  line-height: 1;
}

header .header_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 92px;
  position: relative;
}

header .header_content .logo {
  padding: 0 0 10px 12px;
}

header .header_content .header_nav {
  margin-left: auto;
}

header .header_content .header_nav .telBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1;
  padding-right: 1em;
  padding-bottom: 5px;
}

header .header_content .header_nav .telBox small {
  display: block;
  line-height: 1;
  font-size: 1.1rem;
  font-weight: 500;
  color: #38281c;
  padding-right: 15px;
}

header .header_content .header_nav .telBox a.tel {
  color: #38281c;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header_content .header_nav .telBox a.tel .icon-tel {
  font-size: 2.2rem;
  margin-right: 6px;
}

header .header_content .header_nav .telBox a.tel span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
}

header .header_content .header_nav nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header_content .header_nav nav ul li a, header .header_content .header_nav nav ul li .anchor {
  height: 50px;
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #38281c;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

header .header_content .header_nav nav ul li a:hover, header .header_content .header_nav nav ul li .anchor:hover {
  color: #acd211;
}

header .header_content .rsv {
  width: 92px;
  height: 92px;
  background: #b9e212;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

header .header_content .rsv:hover {
  filter: brightness(110%);
}

header .header_content .rsv span {
  display: block;
  text-align: center;
}

header .header_content .rsv span .icon-calendar {
  font-size: 3rem;
}

header .header_content .rsv span small {
  display: block;
  line-height: 1;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
}

.trigger:hover {
  /*
	.submenu{
		opacity: 1;
		pointer-events: auto;
		transform:translateY(0px);
	}
*/
}

.trigger:hover .anchor {
  color: #acd211 !important;
}

.submenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 100;
  background: #f8f7f3;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: all 0.4s ease;
  backface-visibility: hidden;
}

.submenu.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

.submenu .inner {
  width: 1000px;
  padding: 30px 0 0;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.submenu .inner .item {
  width: 230px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 25px;
}

.submenu .inner .item a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
}

.submenu .inner .item a:hover ~ figure img {
  transform: scale(1.1);
  filter: brightness(110%);
}

.submenu .inner .item a:hover ~ p {
  color: #acd211;
}

.submenu .inner .item figure {
  width: 100%;
  overflow: hidden;
}

.submenu .inner .item figure img {
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

.submenu .inner .item p {
  text-align: center;
  padding-top: 10px;
  line-height: 1;
  font-size: 1.4rem;
  font-weight: 400;
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

.submenu .inner .item:nth-child(4),
.submenu .inner .item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 740px) {
  header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    transition: top 0.2s ease;
    backface-visibility: hidden;
    background: #fff;
  }
  header.on {
    top: -15px;
  }
  header.on_scroll,
  header.slide-open {
    top: -70px;
  }
  header.on_scroll .header_content_sp #top_btn,
  header.slide-open .header_content_sp #top_btn {
    transform: translateX(0%);
  }
  header.on_scroll .header_content_sp a,
  header.slide-open .header_content_sp a {
    width: calc((100% - 46px)/3);
  }
  header #seo {
    position: static;
    width: 100%;
    overflow: hidden;
  }
  header #seo span {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1rem;
    display: block;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
  }
  header .header_content {
    display: block;
    width: 100%;
    height: auto;
  }
  header .header_content .logo {
    padding: 10px 0 5px;
    width: 246px;
    margin: 0 auto;
  }
  header .header_content .header_nav {
    display: none;
  }
  header .header_content .rsv {
    display: none;
  }
  header .header_content_sp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  header .header_content_sp #top_btn {
    width: 46px;
    position: absolute;
    left: 0;
    top: 0;
    background: #acd211;
    transform: translateX(-100%);
    transition: all 0.2s ease 0.2s;
    backface-visibility: hidden;
  }
  header .header_content_sp #top_btn .icon-logo {
    font-size: 2.6rem;
    color: #fff;
  }
  header .header_content_sp a {
    width: 33.333%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #38281c;
    transition: width 0.2s ease;
    backface-visibility: hidden;
  }
  header .header_content_sp a .icon-tel {
    font-size: 2.5rem;
  }
  header .header_content_sp a .icon-calendar {
    font-size: 2.2rem;
  }
  header .header_content_sp a small {
    display: block;
    line-height: 1;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: -2px;
  }
  header .header_content_sp #slidemenuBtn span {
    width: 29px;
    height: 12px;
    position: relative;
  }
  header .header_content_sp #slidemenuBtn span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #38281c;
    transition: transform 0.2s ease, top 0.2s ease 0.2s;
    backface-visibility: hidden;
  }
  header .header_content_sp #slidemenuBtn span:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #38281c;
    transition: transform 0.2s ease, bottom 0.2s ease 0.2s;
    backface-visibility: hidden;
  }
  header .header_content_sp #slidemenuBtn.slide-open span:before {
    top: 5px;
    transform: rotate(45deg);
    transition: top 0.2s ease, transform 0.2s ease 0.2s;
    backface-visibility: hidden;
  }
  header .header_content_sp #slidemenuBtn.slide-open span:after {
    bottom: 5px;
    transform: rotate(-45deg);
    transition: bottom 0.2s ease, transform 0.2s ease 0.2s;
    backface-visibility: hidden;
  }
}

.swiper-container {
  width: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 619px;
  background: repeat-x center center;
  background-size: auto 100%;
  position: relative;
}

.swiper-container .swiper-wrapper .swiper-slide#slide01 {
  background-image: url(../../img/slide01.jpg);
}

.swiper-container .swiper-wrapper .swiper-slide#slide02 {
  background-image: url(../../img/slide02.jpg);
}

.swiper-container .swiper-wrapper .swiper-slide#slide03 {
  background-image: url(../../img/slide03.jpg);
}

.swiper-container .swiper-wrapper .swiper-slide .swiper-text {
  position: absolute;
  left: calc(50% - 548px);
  bottom: 0;
  width: 315px;
  padding: 35px;
  box-sizing: border-box;
}

.swiper-container .swiper-wrapper .swiper-slide .swiper-text h2 {
  color: #c59940;
  font-size: 2.85rem;
  line-height: 1.3;
  letter-spacing: 0.12em;
  padding-bottom: 20px;
  font-weight: 500;
  font-feature-settings: "palt";
  text-align: justify;
}

.swiper-container .swiper-wrapper .swiper-slide .swiper-text p {
  font-size: 1.5rem;
  letter-spacing: -0.06em;
}

@media screen and (max-width: 740px) {
  .swiper-container {
    width: 100%;
  }
  .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
    height: auto;
    background: #fff !important;
  }
  .swiper-container .swiper-wrapper .swiper-slide .swiper-text {
    position: static;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .swiper-container .swiper-wrapper .swiper-slide .swiper-text h2 {
    color: #c59940;
    font-size: 2.1rem;
    line-height: 1.3;
    letter-spacing: 0.12em;
    padding-bottom: 10px;
    font-weight: 500;
  }
  .swiper-container .swiper-wrapper .swiper-slide .swiper-text h2 br {
    display: none;
  }
  .swiper-container .swiper-wrapper .swiper-slide .swiper-text p {
    font-size: 1.3rem;
    letter-spacing: -0.06em;
    text-align: left;
  }
}

.sect_ttl {
  flex-shrink: 0;
}

.sect_ttl em {
  display: block;
  line-height: 1;
  font-size: 3.6rem;
  font-weight: 500;
}

.sect_ttl small {
  display: block;
  line-height: 1;
  color: #acd211;
  font-size: 1.4rem;
  color: #acd211;
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 15px;
}

@media screen and (max-width: 740px) {
  .sect_ttl {
    flex-shrink: 0;
  }
  .sect_ttl em {
    font-size: 2.4rem;
    line-height: 1.35;
  }
  .sect_ttl small {
    font-size: 1.2rem;
    padding-top: 10px;
  }
}

.news {
  margin: 30px auto;
  width: calc(100% - 60px);
  max-width: 1340px;
  padding: 60px;
  box-sizing: border-box;
  background: #f8f7f3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.news .sect_ttl {
  margin-right: 120px;
  white-space: nowrap;
  flex-shrink: 0;
}

.news .news_inner {
  max-height: 360px;
  padding-right: 20px;
  overflow-y: auto;
  position: relative;
}

.news .news_inner .item {
  margin-top: 30px;
}

.news .news_inner .item time {
  color: #c59940;
  font-size: 1.3rem;
  font-weight: 500;
}

.news .news_inner .item a {
  text-decoration: underline;
}

.news .news_inner .item a:hover {
  color: #c59940;
}

.news .news_inner .item:first-child {
  margin-top: 0px;
}

.news .news_inner .ps__rail-y {
  background: #f8f7f3 !important;
}

.news .news_inner .ps__rail-y .ps__thumb-y {
  background: #ffe400 !important;
}

@media screen and (max-width: 740px) {
  .news {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
    flex-direction: column;
  }
  .news .sect_ttl {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 30px;
  }
  .news .news_inner {
    max-height: 380px;
    padding-right: 10px;
    overflow-y: auto;
  }
  .news .news_inner .item {
    margin-top: 15px;
  }
  .news .news_inner .item time {
    font-size: 1.1rem;
  }
}

.banners {
  width: calc(100% - 60px);
  max-width: 1340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banners .banner {
  width: calc(50% - 20px);
  height: 184px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

.banners .banner:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 33px 33px;
  border-color: transparent transparent #4284b6 transparent;
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

.banners .banner:hover {
  filter: brightness(105%);
}

.banners .banner:hover:before {
  transform: translate(50%, 50%);
}

.banners .banner.blue {
  background: url(../../img/banner_dot1.png) repeat center center;
  background-size: 50px 50px;
}

.banners .banner.pink {
  background: url(../../img/banner_dot2.png) repeat center center;
  background-size: 50px 50px;
}

.banners .banner.pink:before {
  content: "";
  border-color: transparent transparent #fbd6b9 transparent;
}

.banners .banner.pink .text h3 {
  color: #fba15b;
}

.banners .banner a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  z-index: 10;
}

.banners .banner a:hover ~ figure img {
  filter: brightness(110%);
}

.banners .banner figure {
  width: 184px;
  flex-shrink: 0;
}

.banners .banner figure img {
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

.banners .banner .text {
  width: calc(100% - 184px);
  text-align: center;
}

.banners .banner .text p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 5px;
}

.banners .banner .text h3 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #4284b6;
  line-height: 1.25;
}

@media screen and (max-width: 740px) {
  .banners {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
  }
  .banners .banner {
    width: 100%;
    height: 106px;
  }
  .banners .banner:before {
    border-width: 0 0 16px 16px;
  }
  .banners .banner figure {
    width: 106px;
    flex-shrink: 0;
  }
  .banners .banner figure img {
    transition: all 0.2s ease;
    backface-visibility: hidden;
  }
  .banners .banner .text {
    width: calc(100% - 106px);
    text-align: center;
  }
  .banners .banner .text p {
    font-size: 1rem;
    padding-bottom: 5px;
  }
  .banners .banner .text h3 {
    font-size: 1.8rem;
  }
  .banners .banner + .banner {
    margin-top: 15px;
  }
}

.Feature {
  width: 100%;
  padding: 75px 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.Feature::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  background: #f8f7f3;
  z-index: -1;
}

.Feature:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: skewY(9deg);
  transform-origin: top right;
  z-index: -1;
  width: 100%;
  height: 34%;
  background: #fff;
}

.Feature .Feature_head {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 75px;
}

.Feature .Feature_head p {
  padding-top: 5px;
}

.Feature .Feature_inner {
  width: 100%;
  max-width: 1400px;
  padding: 0 100px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Feature .Feature_inner .item {
  width: calc((100% - 60px)/3);
}

.Feature .Feature_inner .item figure {
  position: relative;
}

.Feature .Feature_inner .item figure figcaption {
  width: 72px;
  height: 80px;
  background: #ffe400;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Feature .Feature_inner .item figure figcaption span {
  color: #fff;
  display: block;
  text-align: center;
}

.Feature .Feature_inner .item figure figcaption span small {
  display: block;
  line-height: 1;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  padding-bottom: 6px;
}

.Feature .Feature_inner .item figure figcaption span em {
  display: block;
  line-height: 1;
  font-size: 2.6rem;
  font-family: "Lato", sans-serif;
}

.Feature .Feature_inner .item figure a {
  display: block;
  overflow: hidden;
}

.Feature .Feature_inner .item figure a img {
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

.Feature .Feature_inner .item figure a:hover img {
  filter: brightness(110%);
  transform: scale(1.1);
}

.Feature .Feature_inner .item .text {
  padding-top: 30px;
}

.Feature .Feature_inner .item .text h3 {
  text-align: center;
  padding-bottom: 20px;
}

.Feature .Feature_inner .item .text h3 small {
  display: block;
  line-height: 1.25;
  color: #c59940;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  padding-bottom: 12px;
}

.Feature .Feature_inner .item .text h3 em {
  color: #c59940;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.25;
  font-size: 2.7rem;
}

.Feature .Feature_inner .item .text a {
  display: block;
  text-align: right;
}

.Feature .Feature_inner .item .text a:hover {
  filter: brightness(110%);
}

.Feature .Feature_inner .item .text a span {
  position: relative;
  color: #acd211;
  font-size: 1.5rem;
  font-weight: 500;
}

.Feature .Feature_inner .item .text a span:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 50%;
  width: 44px;
  height: 1px;
  background: #acd211;
}

.Feature .Feature_inner .item:nth-child(2),
.Feature .Feature_inner .item:nth-child(5) {
  margin-top: 70px;
}

.Feature .Feature_inner .item:nth-child(3),
.Feature .Feature_inner .item:nth-child(6) {
  margin-top: 140px;
}

@media screen and (max-width: 740px) {
  .Feature {
    width: 100%;
    max-width: 100%;
    padding: 30px 0 0;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .Feature .Feature_head {
    display: block;
    text-align: left;
    padding: 0 15px 30px;
    box-sizing: border-box;
  }
  .Feature .Feature_head .sect_ttl {
    text-align: center;
  }
  .Feature .Feature_head p {
    padding-top: 20px;
  }
  .Feature .Feature_inner {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .Feature .Feature_inner .item {
    width: 100%;
  }
  .Feature .Feature_inner .item figure {
    width: 100%;
  }
  .Feature .Feature_inner .item figure figcaption {
    left: auto;
    right: 0;
  }
  .Feature .Feature_inner .item figure a img {
    width: 100%;
    height: auto;
  }
  .Feature .Feature_inner .item .text {
    padding: 15px 15px 30px;
  }
  .Feature .Feature_inner .item .text h3 {
    padding-bottom: 10px;
  }
  .Feature .Feature_inner .item .text h3 small {
    font-size: 1.2rem;
    padding-bottom: 8px;
  }
  .Feature .Feature_inner .item .text h3 em {
    height: auto;
    display: block;
    line-height: 1.25;
    font-size: 1.9rem;
  }
  .Feature .Feature_inner .item .text a {
    display: block;
    text-align: center;
  }
  .Feature .Feature_inner .item .text a:hover {
    filter: brightness(110%);
  }
  .Feature .Feature_inner .item .text a span {
    position: relative;
    color: #acd211;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .Feature .Feature_inner .item .text a span:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    height: 1px;
    background: #acd211;
  }
  .Feature .Feature_inner .item:nth-child(2),
  .Feature .Feature_inner .item:nth-child(5) {
    margin-top: 0px;
  }
  .Feature .Feature_inner .item:nth-child(3),
  .Feature .Feature_inner .item:nth-child(6) {
    margin-top: 0px;
  }
}

.greeting {
  width: 100%;
  height: 717px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.greeting .doctor {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  background: url(../../img/greeting.jpg) no-repeat center center;
  background-size: auto 100%;
  z-index: -1;
}

.greeting .doctor .name {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #38281c;
  line-height: 1;
}

.greeting .doctor .name span {
  font-size: 1.5rem;
  padding-right: 10px;
}

.greeting .doctor .name em {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.7rem;
}

.greeting .text {
  padding-left: 100px;
  width: 600px;
}

.greeting .text h3 {
  font-size: 2.7rem;
  color: #c59940;
  line-height: 1.3;
  padding: 60px 0 30px;
}

.greeting .text .btnbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.greeting .text .btnbox a + a {
  margin-left: 30px;
}

@media screen and (max-width: 740px) {
  .greeting {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }
  .greeting .doctor {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 157%;
    background: url(../../img/greeting@sp.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1;
  }
  .greeting .doctor .sect_ttl {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    text-align: center;
  }
  .greeting .doctor .name {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #38281c;
    line-height: 1;
    display: block;
    text-align: right;
  }
  .greeting .doctor .name span {
    display: block;
    line-height: 1;
    font-size: 1.1rem;
    padding-right: 0px;
  }
  .greeting .doctor .name em {
    padding-top: 5px;
    display: block;
    line-height: 1;
    font-size: 1.8rem;
  }
  .greeting .text {
    padding: 15px 15px 30px;
    width: 100%;
    box-sizing: border-box;
  }
  .greeting .text h3 {
    font-size: 1.9rem;
    color: #c59940;
    line-height: 1.3;
    padding: 0 0 10px;
    text-align: center;
  }
  .greeting .text .btnbox {
    flex-direction: column;
    margin-top: 10px;
  }
  .greeting .text .btnbox a + a {
    margin-left: 0px;
    margin-top: 15px;
  }
}

.btn {
  width: 240px;
  height: 48px;
  background: #acd211;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.btn span {
  padding-left: 18px;
  color: #fff;
  font-weight: 500;
}

.btn i {
  margin-right: 15px;
  color: #fff;
}

.btn:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 740px) {
  .btn {
    width: 290px;
  }
}

.Trouble {
  background: #f8f7f3;
  padding: 80px 40px;
  box-sizing: border-box;
}

.Trouble .sect_ttl {
  text-align: center;
}

.Trouble .sect_ttl + p {
  text-align: center;
  color: #c59940;
  padding: 40px 0 60px;
}

.Trouble .Trouble_inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Trouble .Trouble_inner .item {
  width: 200px;
  margin: 0 8px 26px;
}

.Trouble .Trouble_inner .item a {
  display: block;
  text-align: center;
}

.Trouble .Trouble_inner .item a:hover figure {
  background: #ffe400;
  transform: scale(0.9);
}

.Trouble .Trouble_inner .item a:hover figure i {
  transform: scale(1.3);
}

.Trouble .Trouble_inner .item a figure {
  width: 160px;
  height: 160px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

.Trouble .Trouble_inner .item a figure i {
  font-size: 6rem;
  color: #c59940;
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

.Trouble .Trouble_inner .item a figure .icon-trouble12 {
  font-size: 4rem;
}

.Trouble .Trouble_inner .item a figure .icon-trouble08 {
  font-size: 5rem;
}

.Trouble .Trouble_inner .item a figure .icon-trouble18 {
  font-size: 3.3rem;
}

.Trouble .Trouble_inner .item a figure .icon-trouble19 {
  font-size: 7rem;
}

.Trouble .Trouble_inner .item a figure .icon-trouble20 {
  font-size: 5rem;
}

.Trouble .Trouble_inner .item a p {
  text-align: center;
  font-family: "Noto Serif JP", serif;
  color: #c59940;
  font-size: 1.7rem;
  line-height: 1.5;
  padding: 15px 0 5px;
}

.Trouble .Trouble_inner .item a .icon-circle {
  margin: 0 auto;
  color: #ffe400;
  font-size: 1.6rem;
}

@media screen and (max-width: 740px) {
  .Trouble {
    padding: 30px 15px 15px;
  }
  .Trouble .sect_ttl + p {
    padding: 20px 0 30px;
    text-align: left;
  }
  .Trouble .Trouble_inner {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-start;
  }
  .Trouble .Trouble_inner .item {
    width: 140px;
    margin: 0 0px 26px;
  }
  .Trouble .Trouble_inner .item a {
    display: block;
    text-align: center;
  }
  .Trouble .Trouble_inner .item a figure {
    width: 140px;
    height: 140px;
  }
  .Trouble .Trouble_inner .item a figure i {
    font-size: 5rem;
  }
  .Trouble .Trouble_inner .item a figure .icon-trouble12 {
    font-size: 3rem;
  }
  .Trouble .Trouble_inner .item a figure .icon-trouble08 {
    font-size: 4rem;
  }
  .Trouble .Trouble_inner .item a figure .icon-trouble18 {
    font-size: 2.3rem;
  }
  .Trouble .Trouble_inner .item a p {
    font-size: 1.3rem;
    padding: 10px 0 5px;
  }
  .Trouble .Trouble_inner .item a .icon-circle {
    margin: 0 auto;
    color: #ffe400;
    font-size: 1.4rem;
  }
}

.Treatment {
  padding: 80px 30px;
}

.Treatment .sect_ttl {
  text-align: center;
}

.Treatment .sect_ttl + p {
  text-align: center;
  color: #c59940;
  padding: 40px 0 60px;
}

.Treatment .Treatment_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.Treatment .Treatment_inner .item {
  width: calc((100% - 60px)/3);
  margin-bottom: 60px;
}

.Treatment .Treatment_inner .item.mini {
  width: calc((100% - 90px)/4);
}

.Treatment .Treatment_inner .item figure {
  position: relative;
}

.Treatment .Treatment_inner .item figure a {
  display: block;
  overflow: hidden;
}

.Treatment .Treatment_inner .item figure a img {
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

.Treatment .Treatment_inner .item figure a:hover img {
  filter: brightness(110%);
  transform: scale(1.1);
}

.Treatment .Treatment_inner .item h3 {
  text-align: center;
  padding-bottom: 0px;
  color: #c59940;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.25;
  font-size: 2.7rem;
}

.Treatment .Treatment_inner .item p {
  padding-bottom: 30px;
}

@media screen and (max-width: 740px) {
  .Treatment {
    padding: 30px 15px;
  }
  .Treatment .sect_ttl {
    text-align: center;
  }
  .Treatment .sect_ttl + p {
    text-align: left;
    padding: 20px 0 30px;
  }
  .Treatment .Treatment_inner {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .Treatment .Treatment_inner .item {
    width: 100%;
    margin-bottom: 30px;
  }
  .Treatment .Treatment_inner .item.mini {
    width: 100%;
  }
  .Treatment .Treatment_inner .item figure img {
    width: 100%;
    height: auto;
  }
  .Treatment .Treatment_inner .item h3 {
    text-align: center;
    padding-bottom: 0px;
    height: auto;
    display: block;
    line-height: 1.25;
    font-size: 1.9rem;
    padding: 15px 0;
  }
  .Treatment .Treatment_inner .item p {
    padding-bottom: 15px;
  }
}

.white_btn {
  width: 240px;
  height: 48px;
  border: #c59940 solid 1px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin: 0 auto;
  background: #fff;
}

.white_btn span {
  color: #c59940;
  font-weight: 500;
}

.white_btn i {
  color: #ffe400;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

.white_btn:hover {
  background: #ffe400;
}

.white_btn:hover i {
  color: #c59940;
}

@media screen and (max-width: 740px) {
  .white_btn {
    width: 280px;
  }
}

.blog {
  margin: 0 auto;
  width: 100%;
  padding: 80px 60px;
  box-sizing: border-box;
  background: #f8f7f3;
}

.blog .sect_ttl {
  text-align: center;
  margin-bottom: 60px;
}

.blog .blog_inner {
  max-height: 360px;
  max-width: 1040px;
  margin: 0 auto;
  padding-right: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
}

.blog .blog_inner .item {
  padding: 15px 0;
  border-bottom: #c59940 dotted 1px;
  display: flex;
  justify-content: flex-start;
}

.blog .blog_inner .item time {
  color: #c59940;
  font-size: 1.3rem;
  font-weight: 500;
  width: 120px;
  flex-shrink: 0;
}

.blog .blog_inner .item a {
  text-decoration: underline;
}

.blog .blog_inner .item a:hover {
  color: #c59940;
}

.blog .blog_inner .item:first-child {
  margin-top: 0px;
}

.blog .blog_inner .ps__rail-y {
  background: #f8f7f3 !important;
}

.blog .blog_inner .ps__rail-y .ps__thumb-y {
  background: #ffe400 !important;
}

@media screen and (max-width: 740px) {
  .blog {
    width: 100%;
    padding: 30px 15px;
  }
  .blog .sect_ttl {
    text-align: center;
    margin-bottom: 30px;
  }
  .blog .blog_inner {
    max-height: 420px;
    max-width: 100%;
    overflow-y: auto;
    padding-right: 10px;
  }
  .blog .blog_inner .item {
    padding: 10px 0;
    flex-direction: column;
  }
  .blog .blog_inner .item time {
    font-size: 1.1rem;
    width: auto;
  }
}

.calendar {
  width: calc(100% - 60px);
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar .calendarBox {
  display: flex;
  justify-content: space-between;
  width: 870px;
}

.calendar .calendarBox .month {
  text-align: center;
  width: calc((100% - 25px)/2);
  box-sizing: border-box;
}

.calendar .calendarBox .month em {
  display: block;
  font-size: 2rem;
  padding-bottom: 20px;
  font-weight: 500;
  text-align: left;
  color: #c59940;
}

.calendar .calendarBox .month .CalendarTable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0px;
}

.calendar .calendarBox .month .CalendarTable thead th {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 5px;
  font-weight: 400;
}

.calendar .calendarBox .month .CalendarTable thead th.holiday {
  color: #f94050;
}

.calendar .calendarBox .month .CalendarTable thead th.saturday {
  color: #00c1d2;
}

.calendar .calendarBox .month .CalendarTable tbody td {
  width: auto;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  background: #fff;
  border: #e7e9dc solid 1px;
}

.calendar .calendarBox .month .CalendarTable tbody td.holiday {
  color: #f94050;
}

.calendar .calendarBox .month .CalendarTable tbody td span {
  display: block;
  line-height: 1;
  width: 100%;
  height: 60px;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
}

.calendar .calendarBox .month .CalendarTable tbody td span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  line-height: 1;
  text-align: center;
  font-size: 1rem;
  padding-right: 5px;
  box-sizing: border-box;
}

.calendar .calendarBox .month .CalendarTable tbody .saturday {
  color: #00c1d2;
}

.calendar .calendarBox .month .CalendarTable tbody .close span {
  color: #f94050;
  background: #fff3f4;
}

.calendar .calendarBox .month .CalendarTable tbody .close span:before {
  content: "休診日";
  color: #f94050;
}

.calendar .calendarBox .month .CalendarTable tbody .am_close span:before {
  content: "午前休";
}

.calendar .calendarBox .month .CalendarTable tbody .pm_close span:before {
  content: "午後休";
}

.calendar .calendarBox .month .CalendarTable tbody .other span {
  background: #eeeeee;
}

.calendar .calendarBox .month .CalendarTable tbody .other span:before {
  content: "その他";
}

@media screen and (max-width: 740px) {
  .calendar {
    width: 100%;
    max-width: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
    flex-direction: column;
  }
  .calendar .sect_ttl {
    text-align: center;
  }
  .calendar .calendarBox {
    flex-direction: column;
    width: 100%;
  }
  .calendar .calendarBox .month {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
  }
  .calendar .calendarBox .month em {
    font-size: 2rem;
    padding-bottom: 20px;
    font-weight: 500;
    text-align: center;
  }
  .calendar .calendarBox .month .CalendarTable {
    width: 100%;
  }
  .calendar .calendarBox .month .CalendarTable thead th {
    font-size: 1.2rem;
  }
  .calendar .calendarBox .month .CalendarTable tbody td {
    height: 13vw;
  }
  .calendar .calendarBox .month .CalendarTable tbody td span {
    height: 13vw;
    font-size: 1.2rem;
  }
}

footer {
  background: #eff1e6;
  padding: 80px 0;
}

footer .footer_content {
  width: 1034px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer .footer_content .data {
  width: 400px;
}

footer .footer_content .data .seo {
  font-size: 1rem;
  line-height: 1.5;
}

footer .footer_content .data .logo {
  padding: 15px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .footer_content .data .logo .sns {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

footer .footer_content .data .logo .sns li {
  margin: 0 5px;
}

footer .footer_content .data .logo .sns li a .icon-twitter {
  font-size: 2rem;
}

footer .footer_content .data .logo .sns li a .icon-fb {
  font-size: 2.3rem;
}

footer .footer_content .data .logo .sns li a:hover {
  filter: brightness(120%);
}

footer .footer_content .data .logo .tag {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
}

footer .footer_content .data .logo .tag li {
  border: #6c523d solid 1px;
  background: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 10px;
}

footer .footer_content .data .logo .tag li + li {
  margin-left: 10px;
}

footer .footer_content .data address {
  font-size: 1.4rem;
  line-height: 1.5;
}

footer .footer_content .data .tel {
  color: #6c523d;
  display: flex;
  align-items: center;
}

footer .footer_content .data .tel .icon-tel {
  font-size: 2.6rem;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

footer .footer_content .data .tel span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

footer .footer_content .data .brnbox {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .footer_content .data .brnbox a.btn {
  width: 190px;
}

footer .footer_content .data .brnbox a + a {
  margin-left: 15px;
}

footer .footer_content .consultation {
  position: relative;
}

footer .footer_content .consultation .consultation_table {
  width: 535px;
  table-layout: fixed;
}

footer .footer_content .consultation .consultation_table thead tr th {
  height: 30px;
  font-weight: 400;
  border-bottom: #e2e1d5 solid 1px;
}

footer .footer_content .consultation .consultation_table thead tr th:first-child {
  padding-left: 12px;
  text-align: left;
}

footer .footer_content .consultation .consultation_table tbody tr td {
  height: 50px;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  border-bottom: #e2e1d5 solid 1px;
}

footer .footer_content .consultation .consultation_table tbody tr td:first-child {
  padding-left: 12px;
  text-align: left;
}

footer .footer_content .consultation .consultation_table tfoot tr td {
  text-align: right;
  font-size: 1.2rem;
  padding-top: 10px;
}

footer .footer_content .consultation .btnbox {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer .footer_content .consultation .btnbox a + a {
  margin-left: 15px;
}

footer .sitemap {
  width: 1034px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}

footer .sitemap dl {
  width: calc((100% - 40px)/2);
}

footer .sitemap dl dt {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: #e2e1d5 solid 1px;
}

footer .sitemap dl dd {
  display: flex;
  justify-content: space-between;
}

footer .sitemap dl dd ul li {
  line-height: 2.5;
}

footer .sitemap dl dd ul li a {
  font-size: 1.3rem;
}

footer .sitemap dl dd ul li a:hover {
  text-decoration: underline;
}

footer .copy {
  text-align: center;
  font-size: 1rem;
  line-height: 1.3;
}

@media screen and (max-width: 740px) {
  footer {
    background: #eff1e6;
    padding: 30px 15px;
    text-align: center;
  }
  footer .footer_content {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  footer .footer_content .data {
    width: 100%;
  }
  footer .footer_content .data .seo {
    font-size: 1rem;
    line-height: 1.5;
  }
  footer .footer_content .data .logo {
    padding: 15px 0 0;
    display: block;
  }
  footer .footer_content .data .logo .sns {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: 15px;
  }
  footer .footer_content .data .logo .tag {
    width: 100%;
    justify-content: center;
    margin: 15px 0;
  }
  footer .footer_content .data .logo .tag li {
    border: #6c523d solid 1px;
    background: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 10px;
  }
  footer .footer_content .data .logo .tag li + li {
    margin-left: 10px;
  }
  footer .footer_content .data address {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  footer .footer_content .data .tel {
    color: #6c523d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .footer_content .data .brnbox {
    margin-top: 20px;
    flex-direction: column;
  }
  footer .footer_content .data .brnbox a.btn {
    width: 280px;
  }
  footer .footer_content .data .brnbox a + a {
    margin-left: 0px;
    margin-top: 15px;
  }
  footer .footer_content .consultation {
    position: relative;
    margin-top: 25px;
  }
  footer .footer_content .consultation .consultation_table {
    width: 100%;
  }
  footer .footer_content .consultation .consultation_table thead tr th {
    height: 20px;
    font-size: 1rem;
  }
  footer .footer_content .consultation .consultation_table thead tr th:first-child {
    padding-left: 0px;
  }
  footer .footer_content .consultation .consultation_table tbody tr td {
    height: 40px;
    font-size: 1rem;
  }
  footer .footer_content .consultation .consultation_table tbody tr td:first-child {
    padding-left: 0;
    text-align: left;
  }
  footer .footer_content .consultation .consultation_table tfoot tr td {
    text-align: right;
    font-size: 1rem;
    padding-top: 10px;
  }
  footer .footer_content .consultation .btnbox {
    margin-top: 15px;
    position: static;
    flex-direction: column;
  }
  footer .footer_content .consultation .btnbox a + a {
    margin-left: auto;
    margin-top: 15px;
  }
  footer .sitemap {
    width: 100%;
    margin: 30px auto;
    flex-direction: column;
  }
  footer .sitemap dl {
    width: 100%;
  }
  footer .sitemap dl dt {
    font-size: 1.5rem;
    text-align: left;
  }
  footer .sitemap dl dd {
    flex-wrap: wrap;
  }
  footer .sitemap dl dd ul {
    width: 50%;
    text-align: left;
  }
  footer .sitemap dl dd ul li a {
    font-size: 1.2rem;
  }
  footer .sitemap dl dd .wide {
    width: 100%;
  }
  footer .sitemap dl + dl {
    margin-top: 25px;
  }
  footer .copy {
    text-align: left;
    font-size: 1rem;
  }
}

#spmenu {
  position: fixed;
  left: 0;
  top: 45px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  height: calc(100% - 45px);
  background: #f8f7f3;
  z-index: 100;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.4s cubic-bezier(1, 0, 0, 1);
  backface-visibility: hidden;
  transform: translateX(100%);
}

#spmenu.slide-open {
  transform: translateX(0%);
}

#spmenu ul {
  width: 100%;
}

#spmenu ul > li > a,
#spmenu ul > li > span {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: #e2e1d5 solid 1px;
  font-weight: 500;
}

#spmenu ul > li .toggle {
  position: relative;
}

#spmenu ul > li .toggle:before {
  content: "";
  width: 18px;
  height: 1px;
  background: #6c523d;
  position: absolute;
  right: 10px;
  top: 50%;
}

#spmenu ul > li .toggle::after {
  content: "";
  width: 18px;
  height: 1px;
  background: #6c523d;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: rotate(90deg);
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

#spmenu ul > li .toggle.on:after {
  transform: rotate(0deg);
}

#spmenu ul > li ol li a {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: #e2e1d5 solid 1px;
  font-weight: 400;
  color: #c59940;
  padding-left: 1em;
  font-size: 1.3rem;
  box-sizing: border-box;
}

#spmenu .spmenu_option {
  padding-top: 15px;
}

#spmenu .spmenu_option .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  background: #ffe400;
  line-height: 1;
  color: #38281c;
}

#spmenu .spmenu_option .contact .icon-mail-envelope-closed {
  font-size: 2.8rem;
  margin-right: 4px;
  position: relative;
  top: 1px;
}

#spmenu .spmenu_option .contact span {
  font-weight: 500;
}

#spmenu .spmenu_option .rsv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  background: #acd211;
  line-height: 1;
  color: #38281c;
  margin-top: 15px;
}

#spmenu .spmenu_option .rsv .icon-calendar {
  font-size: 1.8rem;
  margin-right: 4px;
  position: relative;
  top: 1px;
}

#spmenu .spmenu_option .rsv span {
  font-weight: 500;
}

#spmenu .spmenu_option a.tel {
  color: #6c523d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0;
}

#spmenu .spmenu_option a.tel .icon-tel {
  font-size: 2.8rem;
  margin-right: 6px;
}

#spmenu .spmenu_option a.tel span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}

#spmenu .spmenu_option small {
  display: block;
  font-size: 1rem;
  text-align: center;
}

#fixed_header {
  position: fixed;
  left: 0;
  top: -50px;
  width: 100%;
  z-index: 100;
  background: #fff;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  backface-visibility: hidden;
}

#fixed_header.on {
  top: 0;
}

#fixed_header nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fixed_header nav > ul > li {
  width: 10%;
}

#fixed_header nav > ul > li > a,
#fixed_header nav > ul > li > .anchor {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #38281c;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

#fixed_header nav > ul > li > a:hover,
#fixed_header nav > ul > li > .anchor:hover {
  background: #acd211;
  color: #fff;
}

#fixed_header nav > ul > li .rsv {
  background: #b9e212;
  color: #fff;
}

#fixed_header nav > ul > li .rsv:hover {
  filter: brightness(110%);
}

#fixed_header nav > ul > li .rsv .icon-calendar {
  font-size: 1.8rem;
  margin-right: 8px;
}

#fixed_header nav > ul > li .rsv span {
  display: block;
  line-height: 1;
  text-align: center;
  font-weight: 500;
}

#fixed_header nav > ul > .trigger:hover .anchor {
  color: #fff !important;
  background: #acd211;
}

#fixed_header nav > ul .wide {
  width: 15%;
}

#fixed_header nav > ul .tel {
  color: #6c523d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fixed_header nav > ul .tel .icon-tel {
  font-size: 1.8rem;
  margin-right: 4px;
}

#fixed_header nav > ul .tel span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.pageTop {
  position: fixed;
  right: 20px;
  bottom: -64px;
  z-index: 10;
  transition: all 0.4s cubic-bezier(1, 0, 0, 1);
  backface-visibility: hidden;
}

.pageTop.on {
  bottom: 20px;
}

.pageTop a {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #acd211;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageTop a:hover {
  filter: brightness(120%);
}

.pageTop a .icon-top {
  color: #ffe400;
  font-size: 2rem;
}

@media screen and (max-width: 740px) {
  .pageTop {
    right: 10px;
    bottom: -60px;
  }
  .pageTop.on {
    bottom: 30px;
  }
  .pageTop a {
    width: 60px;
    height: 60px;
  }
  .pageTop a .icon-top {
    font-size: 1.8rem;
  }
}
