@charset "utf-8";
@import "../../common/css/function";

@media screen and (max-width:740px)  {
.title{
	background-image: url(../img/title@sp.jpg) !important;
}
}//media



.subpage{

	.list_tabel{

		h3{
			color: $brown;
			font-size: 2.4rem;
			padding-bottom: 20px;
		}
		.item{
			em{
				text-indent:1.5em;
				width: auto;
			}
			.text{
				width: 100%;
			}
		}
	}

	.tax{
		text-align: center;
		margin-bottom: 80px;
	}

	p{
		a[target="_blank"]{
			color: $green;
			text-decoration: underline;
			padding-right:5px;

			&:after{
				content: "\e91b";
				font-family: $icomoon;
				font-size: 1rem;
				margin-left:2px;

			}
		}
	}
	.small{
		font-size: 1.2rem;
		margin-bottom: 50px;
		display: block;
	}

}


@media screen and (max-width:740px)  {

.subpage{

	.list_tabel{

		h3{
			font-size: 1.6rem;
			font-weight: 500;
			padding-bottom: 10px;
		}
		.item{
			em{
				text-indent:0;
				width: auto;
			}
			.text{
				width: 100%;
			}
		}
	}

	.tax{
		text-align: center;
		margin-bottom: 40px;

		img{
			width: 222px;
		}
	}

	p{
		a[target="_blank"]{
			color: $green;
			text-decoration: underline;
			padding-right:5px;

			&:after{
				content: "\e91b";
				font-family: $icomoon;
				font-size: 1rem;
				margin-left:2px;

			}
		}
	}
	.small{
		font-size: 1rem;
		margin-bottom: 20px;
		display: block;
	}

}

}//media



