@charset "utf-8";
@import "../../common/css/function";

.subpage{

	@media screen and (max-width:740px)  {
	.title{
		background-image: url(../img/title@sp.jpg) !important;
	}
	}//media


	.textbox01 + .diff{
		margin-top: -30px;

		h3{
			line-height: 1.5;
			padding-bottom: 20px;
		}
	}

	@media screen and (max-width:740px)  {

	.textbox01 + .diff{
		margin-top: 0px;

		h3{
			line-height: 1.5;
			padding-bottom: 10px;
		}
	}


	}//media





	.gray_box{
		display: flex;
		justify-content: space-between;
		padding: 40px;

		figure{
			flex-shrink: 0;
			margin-left: 30px;
		}
	}

	@media screen and (max-width:740px)  {

	.gray_box{
		flex-direction: column;
		padding: 20px;

		figure{
			flex-shrink: 0;
			margin-left: 0px;
			margin-top: 20px;

			img{
				width: 100%;
			}
		}
	}

	}//media



}//subpage