@media screen and (max-width: 740px) {
  .title {
    background-image: url(../img/title@sp.jpg) !important;
  }
}

.subpage .googlemap {
  width: 100%;
  height: 600px;
  position: relative;
  margin-bottom: 80px;
}

.subpage .googlemap iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
}

.subpage .list_tabel {
  margin-bottom: 50px;
}

.subpage section .consultation {
  position: relative;
}

.subpage section .consultation .consultation_table {
  width: 100%;
  table-layout: fixed;
}

.subpage section .consultation .consultation_table thead tr th {
  height: 30px;
  font-weight: 400;
  border-bottom: #e2e1d5 solid 1px;
  text-align: center;
}

.subpage section .consultation .consultation_table thead tr th:first-child {
  padding-left: 12px;
  text-align: left;
}

.subpage section .consultation .consultation_table tbody tr td {
  height: 50px;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  border-bottom: #e2e1d5 solid 1px;
}

.subpage section .consultation .consultation_table tbody tr td:first-child {
  padding-left: 12px;
  text-align: left;
}

.subpage section .consultation .consultation_table tfoot tr td {
  text-align: right;
  font-size: 1.2rem;
  padding-top: 10px;
}

.subpage section .consultation .btnbox {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.subpage section .consultation .btnbox a + a {
  margin-left: 15px;
}

@media screen and (max-width: 740px) {
  .subpage .googlemap {
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 30px;
  }
  .subpage .list_tabel {
    margin-bottom: 30px;
  }
  .subpage section .consultation {
    position: relative;
    margin-top: 25px;
  }
  .subpage section .consultation .consultation_table {
    width: 100%;
  }
  .subpage section .consultation .consultation_table thead tr th {
    height: 20px;
    font-size: 1rem;
  }
  .subpage section .consultation .consultation_table thead tr th:first-child {
    padding-left: 0px;
  }
  .subpage section .consultation .consultation_table tbody tr td {
    height: 40px;
    font-size: 1rem;
  }
  .subpage section .consultation .consultation_table tbody tr td:first-child {
    padding-left: 0;
    text-align: left;
  }
  .subpage section .consultation .consultation_table tfoot tr td {
    text-align: right;
    font-size: 1rem;
    padding-top: 10px;
  }
  .subpage section .consultation .btnbox {
    margin-top: 15px;
    position: static;
    flex-direction: column;
  }
  .subpage section .consultation .btnbox a + a {
    margin-left: auto;
    margin-top: 15px;
  }
}
