@charset "UTF-8";
.blog_page {
  padding: 0 70px;
  max-width: 1260px;
  margin: 0 auto 90px;
  box-sizing: border-box;
}

.blog_page .sect_ttl {
  width: 100%;
  white-space: normal;
  text-align: left;
  margin: 80px 0;
}

.blog_page .blog_data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}

.blog_page .blog_data time {
  padding-left: 0px;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
  font-family: "Lato", sans-serif;
}

.blog_page .blog_data a {
  position: relative;
  font-size: 1.3rem;
  padding-left: 10px;
  color: #38281c;
  font-weight: 400;
}

.blog_page .blog_data a:before {
  content: "|";
  margin: 0 10px;
  color: #38281c;
  font-size: 1rem;
  position: relative;
  top: -2px;
}

.blog_page .blog_data a:hover {
  color: #acd211;
}

.blog_page > .blog_data {
  padding-top: 80px;
}

.blog_page > .blog_data + .sect_ttl {
  margin-top: 0;
  margin-bottom: 20px;
}

.blog_page > .blog_data + .sect_ttl em {
  line-height: 1.5;
}

.blog_page .blog_article {
  display: flex;
  justify-content: space-between;
}

.blog_page .blog_article .blog_main {
  width: 100%;
  padding-right: 60px;
  box-sizing: border-box;
}

.blog_page .blog_article .blog_main .blog_detail p, .blog_page .blog_article .blog_main .blog_detail figure {
  line-height: 2;
  padding-bottom: 2em;
}

.blog_page .blog_article .blog_main .blog_detail a {
  text-decoration: underline;
}

.blog_page .blog_article .blog_main .blog_detail a:hover {
  color: #c59940;
}

.blog_page .blog_article .blog_main .blog_main_items .item {
  padding: 50px 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAHElEQVQYV2OM9LT/z8DAwLB8+0FGEI0OGAkpAABWtAgD+zuw0QAAAABJRU5ErkJggg==) left top repeat-x;
  background-size: auto 1px;
}

.blog_page .blog_article .blog_main .blog_main_items .item h2 {
  padding: 0 0 10px;
}

.blog_page .blog_article .blog_main .blog_main_items .item h2 a {
  display: inline-block;
  font-size: 2.4rem;
  position: relative;
  padding-bottom: 0px;
  line-height: 1.35;
  font-weight: 500;
  color: #6c523d;
}

.blog_page .blog_article .blog_main .blog_main_items .item h2 a:hover {
  color: #acd211;
}

.blog_page .blog_article .blog_main .page {
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAACCAYAAABhYU3QAAAAHElEQVQYV2NMCDT6z8DAwLBg/TlGEI0LMBKrEAC2/AgDDEPFFwAAAABJRU5ErkJggg==) repeat-x left top;
  background-size: 4px 1px;
  padding-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_page .blog_article .blog_main .page .left {
  position: absolute;
  left: 0;
  top: 30px;
  font-weight: 400;
  color: #6c523d;
}

.blog_page .blog_article .blog_main .page .left:hover {
  text-decoration: underline;
}

.blog_page .blog_article .blog_main .page .right {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 400;
  color: #6c523d;
}

.blog_page .blog_article .blog_main .page .right:hover {
  color: #acd211;
  text-decoration: underline;
}

.blog_page .blog_article .blog_main .page ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_page .blog_article .blog_main .page ul a {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c523d;
  margin: 0 5px;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

.blog_page .blog_article .blog_main .page ul a.current {
  background: #6c523d;
  color: #fff;
}

.blog_page .blog_article .blog_main .page ul a:hover {
  color: #fff;
  background: #acd211;
}

.blog_page .blog_article .blog_main .page ul span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c523d;
}

.blog_page .blog_article .blog_side {
  flex-shrink: 0;
  width: 250px;
}

.blog_page .blog_article .blog_side .heading {
  padding-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.35;
  position: relative;
  color: #38281c;
  border-bottom: #38281c solid 1px;
}

.blog_page .blog_article .blog_side .blog_side_items {
  padding: 30px 0 50px;
}

.blog_page .blog_article .blog_side .blog_side_items ul li a {
  color: #38281c;
  font-size: 1.5rem;
  line-height: 1.5;
  display: block;
  font-feature-settings: "palt";
  text-align: justify;
}

.blog_page .blog_article .blog_side .blog_side_items ul li a:hover {
  color: #acd211;
  text-decoration: underline;
}

.blog_page .blog_article .blog_side .blog_side_items ul li + li {
  margin-top: 15px;
}

.blog_page .blog_article .blog_side .selectBox {
  display: block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}

.blog_page .blog_article .blog_side .selectBox select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: medium none;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 1.6rem;
  height: 40px;
  margin: 0;
  padding: 0 6px;
  box-sizing: border-box;
  background: #f8f7f3;
  padding-right: 50px;
  color: #38281c;
  width: 114%;
  max-width: none;
  box-shadow: none;
  outline: none;
}

.blog_page .blog_article .blog_side .selectBox select option, .blog_page .blog_article .blog_side .selectBox select optgroup {
  font-style: normal;
}

.blog_page .blog_article .blog_side .selectBox:after {
  background: #f8f7f3;
  content: "▼";
  font-size: 1rem;
  color: #38281c;
  height: 100%;
  line-height: 40px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  width: 40px;
  box-sizing: border-box;
  display: inline-block;
}

@media screen and (max-width: 740px) and (max-width: 740px) {
  .title {
    background-image: url(../img/title@sp.jpg) !important;
  }
}

@media screen and (max-width: 740px) {
  .blog_page {
    padding: 0px;
    margin-bottom: 0;
  }
  .blog_page .sect_ttl {
    padding: 0 15px;
    margin: 40px 0;
    box-sizing: border-box;
  }
  .blog_page .blog_data {
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .blog_page > .blog_data {
    padding-top: 40px;
  }
  .blog_page > .blog_data + .sect_title {
    text-align: left;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .blog_page > .blog_data + .sect_title em {
    padding-bottom: 0;
  }
  .blog_page .blog_article {
    flex-direction: column;
  }
  .blog_page .blog_article .blog_main {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .blog_page .blog_article .blog_main .blog_detail p, .blog_page .blog_article .blog_main .blog_detail figure {
    line-height: 2;
    padding-bottom: 1em;
  }
  .blog_page .blog_article .blog_main .blog_main_items .item {
    padding: 10px 0;
  }
  .blog_page .blog_article .blog_main .blog_main_items .item .blog_data {
    padding-left: 0px;
    padding-bottom: 0;
  }
  .blog_page .blog_article .blog_main .blog_main_items .item h2 {
    padding: 0 0 5px;
  }
  .blog_page .blog_article .blog_main .blog_main_items .item h2 a {
    font-size: 1.75rem;
    line-height: 1.5;
  }
  .blog_page .blog_article .blog_main .page {
    width: 100%;
    border-top: #eeeeee solid 1px;
    padding-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog_page .blog_article .blog_main .page .left {
    top: 10px;
  }
  .blog_page .blog_article .blog_main .page .right {
    top: 10px;
  }
  .blog_page .blog_article .blog_main .page ul a {
    width: 30px;
    height: 30px;
    margin: 0 2px;
  }
  .blog_page .blog_article .blog_main .page ul span {
    width: 30px;
    height: 30px;
  }
  .blog_page .blog_article .blog_side {
    flex-shrink: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 30px;
  }
  .blog_page .blog_article .blog_side .heading {
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 1.6rem;
  }
  .blog_page .blog_article .blog_side .blog_side_items {
    padding: 0 0 30px;
  }
  .blog_page .blog_article .blog_side .blog_side_items ul li a {
    font-size: 1.4rem;
  }
  .blog_page .blog_article .blog_side .blog_side_items ul li + li {
    margin-top: 10px;
  }
  .blog_page .blog_article .blog_side .blog_side_items:last-child {
    padding-bottom: 0;
  }
}
